<h4>
  Sort <%= @genre.category.titleize %> Movies By: <%= form_tag movies_genre_path, method: :get do %>
         <%= select_tag :sort, options_for_select(Movie::SORT.collect), prompt: "pick one", :onchange => "this.form.submit();" %>
        <% end %>
</h4>
