<h4>Sort Movies By: <%= form_tag movies_path, method: :get do %>
  <%= select_tag :sort, options_for_select(Movie::SORT.collect), prompt: "pick one", :onchange => "this.form.submit();" %>
<% end %></h4>
