// This file refers to how the movies are displayed in the index page.
.container {
    display:inline-block;
    width: 390px;
    height: 500px;
    padding-top: 20px;

    .header {
      padding-left: 130px;
      width: 400px;
      height: 20px;
    }

    .actions {
      padding-left: 45px;
      height: 100px;
    }
}
