span#no_reviews_helper {
  color: Firebrick;
}

span#reviews_bad_helper {
  color: Red;
}

span#reviews_good_helper {
  color: Gold;
}

h4#restriction_description {
  color: Firebrick
}

span#days_left {
  color: #0059b3  ;
}
